@charset "UTF-8";

:root {
    --cormenu: #202124;
    --corblocos: #3C4043;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    width: 100vw;
    height: 100vh;
}

body {
    background: white url('../images/fundo.jpg') center no-repeat fixed;
    background-size: cover;
}

#container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white url('../images/papel-de-parede.png') center no-repeat;
    background-size: 280px;
    width: 275px;
    height: 590px;
    border-radius: 45px;
    box-shadow: inset 1px 1px 5px 4px #00000065;
}

div#celular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 290px;
    height: 597px;
    background: url('../images/celular.png') top no-repeat;
    background-size: 290px;
    border-radius: 45px;
}

div#botao-home {
    position: absolute;
    background-color: #6a6a6a;
    width: 90px;
    height: 4px;
    border-radius: 50px;
    left: 99px;
    top: 577px;
}

div#botao-home:hover {
    transform: translate(0px, -10px);
    transition: transform .5s;
    cursor: pointer;
}

div#topo {
    margin-top: 17px;
    margin-right: 180px;
    color: #d1d0d0;
    margin-bottom: 535px;
}

div#topo > p {
    position: absolute;
    text-align: center;
    font-size: 11px;
    top: 17px;
    left: 36px;
}

#bateria {
    margin-top: -19%;
    margin-left: 241px;
}

#wifi {
    margin-top: -1%;
    margin-left: 215px;
}

div#pasta {
    position: absolute;
    top: 216px;
    left: 27px;
    background-color: #ffffff4e;
    width: 235px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #0000001f;
}

h1#midia {
    position: absolute;
    font-weight: lighter;
    font-size: 30px;
    top: 141px;
    left: 50px;
    color: #eeeeee;
}

img {
    width: 50px;
    border-radius: 13px;
    box-shadow: 0px 0px 5px #0000004d;
}

#insta {
    position: absolute;
    left: 20px;
    top: 25px;
}

#insta > p {
    text-align: center;
}

#git {
    position: absolute;
    left: 93px;
    top: 25px;
}

#git > p {
    text-align: center;
}

#face {
    position: absolute;
    left: 165px;
    top: 25px;
}

#face > p {
    text-align: center;
}

#twtt {
    position: absolute;
    left: 20px;
    top: 112px;
}

#twtt > p {
    text-align: center;
}

#icons p {
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-shadow: 1px 1px 0px #00000061;
}

img:hover {
    transform: translate(0, -4px);
    transition: transform 300ms;
}